.site-content {
  background: #ececec;
  margin: -50px auto 0;
  overflow: hidden;
  width: 100%;

  .page-home & {
    background: transparent url('img/carousel-1.jpg') no-repeat center;
    background-size: cover;
    height: 700px;
    margin-top: -180px;
  }
}

.content {
  margin: 0 auto;
  padding-top: 70px;
  width: 1020px;
}

.carousel {
  text-align: center;
}

.about-whatever {
  border: 10px solid #fff;
  margin-bottom: 60px;
  padding: 50px 265px 50px 120px;
  position: relative;

  h1 {
    color: $heading-color;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  p {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }

  blockquote {
    bottom: 71px;
    color: $heading-color;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 480px) {
  // Tablet portrait + Mobile landscape

}

@media only screen and (min-width: 768px) {
  // Tablet landscape
}

@media only screen and (min-width: 1020px) {
  // Desktop only

}
