.site-content {
  background: #ececec;
  height: 700px;
  margin: -50px auto 0;
  width: 100%;

  .page-home & {
    background: transparent url('img/carousel-1.jpg') no-repeat center;
    background-size: cover;
    margin-top: -180px;
  }
}

.content {
  margin: 0 auto;
  padding-top: 70px;
  width: 1020px;
}

.carousel {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  // Tablet portrait + Mobile landscape

}

@media only screen and (min-width: 768px) {
  // Tablet landscape
}

@media only screen and (min-width: 1020px) {
  // Desktop only

}
