.site-footer {
  background: #111;
  border-top: 2px solid $hsr-red;
  width: 100%;

  footer {
    margin: 20px auto 0;
    overflow: hidden;
    padding: 0 0 20px;
    width: 100%;
  }
}

.site-footer__section {
  float: left;
  width: 50%;
}

.footer-menu {
  margin-top: 21px;
}

.footer-menu__heading {
  color: $hsr-red;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 21px;
}

.footer-menu__list {

}

.footer-menu__item {

}

.footer-menu__item a {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  transition: .1s all;
}

.footer-menu__item a:hover {
  opacity: .7;
}

@media only screen and (min-width: 480px) {
  // Mobile landscape + Tablet portrait

  .site-footer {
    height: 300px;
  }

  .site-footer__section {
    height: 280px;
    width: 25%;
  }
}

@media only screen and (min-width: 1020px) {
  // Tablet landscape + Desktop

  .site-footer {
    footer {
      padding: 0;
      width: 1020px;
    }
  }
}
