.vinyl {
  margin: 40px auto 0;
  overflow: hidden;
  width: 980px;
}

.vinyl__gallery {
  float: left;
  width: 300px;
}

.vinyl__info {
  float: right;
  width: 640px;
}

.vinyl__description {
  float: left;
  width: 310px;
}

.vinyl__actions {
  float: right;
  width: 310px;
}
